
<div class="container">
  <div class="contain" *ngFor="let r of rooms">
    <div class="left">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <div class="ico" routerLink="/home"><i  class="fa fa-long-arrow-alt-left"></i>
 </div>
      <div class="hotname">{{r.HotelName}}</div>
      <div class="phot"><img src="{{r.image}}" height="330" width="300"></div>
    </div>
    <div class="right">
      <div class="hottype">
          {{r.RoomType}}
      </div>
      <div class="hotdescrib">
          <div class="det">
             R {{r.Price}}<br>
            {{r.Description}}<br>
           {{r.Contact}}<br>
       {{r.Features}}<br>
         {{r.location}}<br>

      </div>
    </div>
  </div>
 </div>
<!--<div class="container">
  <div class="contain" >
    <div class="left">
      <div class="hotname">{{r.hotelName}}</div>
      <div class="phot">  </div>
    </div>
    <div class="right">
      <div class="hottype">

      </div>
      <div class="hotdescrib">
       R
      </div>
    </div>
    <a >Home</a>
  </div>
</div>
-->
